*{background-color: black;}

table{
    border-collapse: collapse;
    border: 1px solid black;
    
}

th, td{
    color: blanchedalmond;
    border: rgb(199, 70, 70) solid 1px;
    
}
nav ul li {
    
    text-align: center;
    color: blueviolet;
}

.image1{
    width: 500px;
}

p{
    color: rgb(167, 148, 148);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ol li {
    font-size: large;
}

#para1{
 
        border-style: solid;
        border-width: 3px;
        border-left-width: 10px;
        border-right-width: 10px;
        border-color: rgb(214, 86, 86);
        border-radius: 25px;
        max-width: 300px;
}

ol li{ content: counter(my-awesome-counter) ". ";
    color: rgb(168, 164, 164);
    font-weight: bold;}

h1{
   color: blanchedalmond; 
}   

#unorderd{color: rgb(168, 164, 164);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{color: burlywood;
    font-display:inherit;
}